body{
    background: pink;
margin-top: 60px;
    text-align: center;
}
header{
    color: #958089;
    font-size: 10px;
    font-weight: bold;
}
h1{
    color: #27B4B6;
    font-size: 40px;
}
p{
    color: #AA9090;
margin-bottom: 120px;}
h3{
    font-size: 18px;
    font-weight: bold;
}

.div1 {
    display: inline-block;
    width: 200px;
    height: 300px;
    padding: 10px;}


.div1:hover {
   color: white;
    background: #27B4B6;}
