body{
    margin-left: 200px;
}
h1 {
    color: white;
    background: red;
    text-align: center;
}
main{ width: 800px;
font-size: 18px}

.span2   {
    font-style: italic;
    color: blue;
    font-weight: bold;
}
article{

    text-align: center;
}
span img{border-style: dashed;
}
.span8{
    color: blue;
    font-size: 18px;
}

footer {
    color: white;
    background: black;
    text-align: center;
    font-size: 20px;
    width: 800px;
}